// ------------------------------------------------------ /
// Master
// ------------------------------------------------------ /

// Imports ---------------------------------------------- /
@import "theme";
@import "mixins";
@import "colors";

// Base ------------------------------------------------- /
body {
  height: 1400px;
}

.main {
  // @include debug;
  padding: 16px;
  // margin: 16px;

  & > a {
    @include np-a(#000000, #000000);
  }
}

.colorBlock {
  @include debug(black);
  margin-top: 16px;
  padding: 16px 0 16px 32px;
  overflow-x: hidden;
}
