// ------------------------------------------------------ /
// Master
// ------------------------------------------------------ /

// Imports ---------------------------------------------- /
@import "theme";
@import "mixins";
@import "colors";

// Base ------------------------------------------------- /
.main {
  // @include debug;
  @include center;

  &__wrapper {
    margin: 0 16px;
    width: 1024px;

    & > h1:first-of-type {
      font-size: 64px;
      font-weight: bolder;
      padding: 64px 0;
      text-align: center;
    }

    & > a {
      @include np-a(#000000, $np-gray-7);
    }
  }
}

.colorBlock {
  @include debug(#51cf66);
  margin-bottom: 16px;
  padding: 16px 0 16px 32px;
  overflow-x: hidden;

  &:first-of-type {
    @include debug($np-blue-5);
    margin-top: 16px;
  }

  &:last-of-type {
    @include debug($np-red-5);
  }
}
